/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;

  .link {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }

  .selected {
    color: black;
  }
}
